.header{
  background-color: #fff;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding-left: 20px;
}

.logoImg{
  width: 40%;
  max-width: none;
}

.listOfNavbar{
  display: flex;
  flex-direction: row;
}
.listOfNavbar li{
  padding: 40px 20px;
}

